.root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-name{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.has-gradient-text{
    background: linear-gradient(#2f089b, #df1223);
    background-clip: text;
    color: transparent;
}

.board-bar{
    background: hsla(0, 1%, 30%, 0.404);
    padding: 8px 15px;
}

.board-name{
    color: white;
    font-weight: bold;
    font-size: 20px;
}